h1{
    text-align: center;
}


.design{
    
    width: 1000px;
    margin-top: 40px;
    margin-left: 140px;
    border: 7px solid black;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


}

body::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 967px;
    width: 2237px;
    background-image: url(ch4.jpg);
    background-repeat: repeat;
    background-size:cover;
    background-attachment: scroll;
    opacity: 0.4;
}

.div{
    display: flex;
    flex-wrap: wrap;
    border: 50px;
    background-color: darkgray;
    color: black;
    margin: 7px;
    margin-top: 7px;
    margin-left: 7px;
    border: 7px solid black;
    padding: 10px;
 
}

h3{
    background-color: rgb(182, 208, 241);
    color: rgb(111, 158, 196);
    padding: 30px;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    background-color: rgb(237, 186, 224);
    color: rgb(157, 189, 216);
    padding: 10px;
    color: rgb(181, 67, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.co{
    padding-top: 20px;
    height: 967px;
    width: 2237px;
  
}
  


@media screen and (max-width:900px)
{
    .design .co{
        grid-auto-columns: calc((100% / 3) -9px);

    }
    
}

@media screen and (max-width:900px)
{
    .design .co{
        grid-auto-columns:100%;
        
    }
    
}
a{
    height: 2000px;
    width: 2237px;
    cursor: pointer;
    margin: 30px;

  
}